<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<section class="main-container">
  <div class="ssr">
    <h2 style="text-align: center">To get started with Angular SSR</h2>
      <ul>
         <li><h3>Clone the Angular BoilerPlate <a target="_blank" rel="noopener" href="https://github.com/Bhupeshverma/AngualrSSrIntructions">Angular SSR Boilerplate</a> and follow the instruction.</h3></li>
      </ul>
  </div>
  <div class="no-ssr">
    <h2 style="text-align: center">
        To get started without Angular SSR
    </h2>
    <p style="padding: 10px;">
      Follow the instruction to get started <a target="_blank" href="https://angular.io/guide/quickstart">Get Started</a>
    </p>
  </div>
</section>
<section class="featured section-1">
  <h2>Some common packages</h2>
    <ul>
      <li>
        <h2> For Cookies <a target="_blank" href="https://www.npmjs.com/package/ngx-cookie-service" rel="noopener">Angular Cookies</a></h2></li>
      <li>
         <h2> Http Interceptors <a href="https://weblog.west-wind.com/posts/2019/Apr/07/Creating-a-custom-HttpInterceptor-to-handle-withCredentials">Interceptors</a></h2>
      </li>
    </ul>
</section>
<section class="featured section-2">
    <h2>Here are some links to help you start: </h2>
    <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://walkingtree.tech/angular-best-practices/">Angular Best Practices</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://mdbootstrap.com/docs/angular/getting-started/angular-universal/">Angular SSR</a></h2>
      </li>
      <li>
          <h2> <a target="_blank" rel="noopener" href="https://angular.io/guide/styleguide#folders-by-feature-structure">Folder Structure Guide</a></h2>
        </li>

    </ul>
</section>


<router-outlet></router-outlet>
